@model Store.Models.Table.Product;
@{
    ViewData["Title"] = "Chi tiết sản phẩm";

} 
<div class="card">
    <!-- Product section-->
    <section class="py-5">
        <div class="px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-5"><img class="card-img-top mb-5 mb-md-0"  style="aspect-ratio:450/300; object-fit:fill;width:100%" id="img" alt="..."  /></div>
                <div class="col-md-7">
                    <div >SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder" id="product_name">Shop item template</h1>
                    <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through" id="product_price_sale">$45.00</span>
                        <span id="product_price">$40.00</span>
                    </div>
                    <p id="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    @* <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div> *@
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Related items section--> 
<div id="ProductReview"></div> 
<input id="IDProduct" value="@Model.ID" hidden />
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<script>
     
let productMax = 0;
$(document).ready(function () {
    document.getElementById("menu_1").style.fontWeight = "bold"
    loadDataDetail();

});
    function loadDataDetail() {
        var _url = window.location.origin.toString() + "/product/listProductDetail/" + $("#IDProduct").val();
        $.ajax({
            url: _url,
            success: function (result) {
                document.getElementById("product_name").innerHTML = result[0].Name
                document.getElementById("product_price").innerHTML = result[0].Price + ".000 VNĐ"
                document.getElementById("product_price_sale").innerHTML = (result[0].Price+3)+".000 VNĐ"
                document.getElementById("product_description").innerHTML = result[0].Description
                document.getElementById("img").src = result[0].img
            }
        });
        $.ajax({
            url: "/Home/ProductReview",
            async: false,
            success: function (result) {
                if (result.length > 0) {
                    var _child = Template_ProductReview(result);
                    $('#ProductReview').append(_child);
                } else {
                    alert("Không tìm thấy danh sảm phẩm!")
                }

            }, error: function (err) {
                console.log(err);
                alert("Lỗi load ProductReview!")
            }
        });
        var ratio = Math.floor(5 / window.devicePixelRatio);
        $('.ProductReview').slick({
            slidesToShow: ratio,
            autoplay: true,
            autoplaySpeed: 111500,
            prevArrow: false,
            nextArrow: false
        });
    }

</script> 
 
    
 
