@model Store.Models.Table.Product;
@{
    ViewData["Title"] = "Chi tiết sản phẩm";

}

@* <input hidden id="CategoryID" value="@Model.CategoryID" /> *@
<div class="card">
    <!-- Product section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0" id="img" alt="..." /></div>
                <div class="col-md-6">
                    <div >SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder" id="product_name">Shop item template</h1>
                    <div class="fs-5 mb-5">
                    <span class="text-decoration-line-through" id="product_price">$45.00</span>
                        <span>$40.00</span>
                    </div>
                    <p id="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>
                    <div class="d-flex">
                        <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="listProduction"> 
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>

<input id="IDProduct" value="@ViewBag.IDProduct" hidden />
<script>
     
    let productMax = 0;
    $(document).ready(function () {
        document.getElementById("menu_1").style.fontWeight = "bold"
        loadDataDetail();

    });
    function loadDataDetail() { 
        var _url = window.location.origin.toString() + "/product/listProductDetail/" + $("#IDProduct").val();
        $.ajax({
            url: _url,
            success: function (result) {
                document.getElementById("product_name").innerHTML = result[0].Name
				document.getElementById("product_price").innerHTML = result[0].Price
				document.getElementById("product_description").innerHTML = result[0].Description
                document.getElementById("img").src = result[0].img  
            }
        }); 
        listProduct(); 
    } 
    function listProduct() {
        check = 0;
        $.ajax({
            url: "/Home/listProduct",
            async: false,
            data: { "maxID": 0, "numberCount": 8, CategoryID: $('#CategoryID').val(), Type: 1 }
            , success: function (result) {
                if (result.length > 0) {
                    let _child = '';
                    for (let i = 0; i < result.length; i++) {
                        _child += " <div class='col' ><a href='chi-tiet-san-pham/" + result[i].URLProduct + "/" + result[i].ID + "'>"
                            + " <div class='card h-100' >                                                                                    "
                            + " <img class='card-img-top' style='max-height: 300px' src='" + result[i].img + "' alt='" + result[i].URLProduct + "'/>"
                            + " <div class='card-body p-4' >                                                                                 "
                            + " <div class='text-center' >                                                                                   "
                            + " <h5 class='fw-bolder' >  " + result[i].Name + " </h5>                                                                  "
                            + " $40.00 - >" + result[i].Price + "                                                                                              "
                            + " </div>                                                                                                       "
                            + " </div>                                                                                                       "
                            + " <div class='card-footer p-4 pt-0 border-top-0 bg-transparent' >                                              "
                            + " <div class='text-center' > <a class='btn btn-outline-dark mt-auto' href = '#' > View options </a></div>      "
                            + " </div>                                                                                                       "
                            + " </div>  </a>                                                                                                 "
                            + " </div>                                                                                                       "
                    }
                    document.getElementById("listProduction").innerHTML = _child;
                    productMax = result[result.length - 1].ID
                    check = 1;
                } else {
                    alert("Không sản phẩm nào được tìm thấy!")
                    check = 0;
                }

            }
        });
    }




</script> 
 
    
 
