USE [master]
GO
/****** Object:  Database [DBSTORE]    Script Date: 12/25/2023 11:05:43 AM ******/
CREATE DATABASE [DBSTORE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBSTORE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBSTORE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBSTORE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DBSTORE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBSTORE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBSTORE]
GO
/****** Object:  User [user2]    Script Date: 12/25/2023 11:05:43 AM ******/
CREATE USER [user2] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [user]    Script Date: 12/25/2023 11:05:43 AM ******/
CREATE USER [user] FOR LOGIN [user] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/25/2023 11:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[URLCategory] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/25/2023 11:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Price] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[CategoryID] [int] NOT NULL,
	[URLProduct] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[SelectAllProduction]    Script Date: 12/25/2023 11:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[SelectAllProduction]
AS

BEGIN
 SELECT * FROM dbo.Production
END
GO
/****** Object:  StoredProcedure [dbo].[SelectPageProduction]    Script Date: 12/25/2023 11:05:43 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
   
create PROC [dbo].[SelectPageProduction] 
  @maxID INT =0  
AS  
BEGIN  
 SELECT TOP 8 * FROM dbo.Production  WHERE ID > @maxID
END
GO
USE [master]
GO
