@model Store.Models.HomeModel;
@{
    ViewData["Title"] = "Trang Chủ"; 
} 
<input hidden id="CategoryID" value="@Model.CategoryID" />
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-color:grey;height:200px;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:black;height:200px;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:#aaddcc;height:200px;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>


<section class="bg-light">
    <div class="container mt-4">
        <h2 class="fw-bolder p-2">Related products</h2>
        <div class="slick_center" style="background-color:azure">
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container mt-4">
        <h2 class="fw-bolder p-2">Related products</h2>
        <div class="slick_center" style="background-color:azure">
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
            <div><img src="~/img/product/6c757d.jpg" /></div>
        </div>
    </div>
</section>

<script> 
    $(document).ready(function () {
        
        $('.slick_center').slick({
            infinite: true,
            slidesToShow: 5,
            slidesToScroll: 2,
            prevArrow: false,
            nextArrow: false
        });
    }); 
</script>