@model Store.Models.HomeModel;
@{
    ViewData["Title"] = "Trang Chủ";
}
<input hidden id="CategoryID" value="@Model.CategoryID" />
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-color:grey;height:40vh;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:black;height:40vh;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:#aaddcc;height:40vh;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div id="ProductReview"></div>
 
<script>
    $(document).ready(function () {

        document.getElementById("menu_0").style.fontWeight = "bold"  
        $.ajax({
            url: "/Home/ProductReview",
            async: false,
            success: function (result) {  
                if (result.length > 0) {
                    var _child = Template_ProductReview(result);
                    $('#ProductReview').append(_child);
                } else {
                    alert("Không tìm thấy danh sảm phẩm!")  
                }

            }, error: function (err) {
                console.log(err);
                alert("Lỗi load ProductReview!")
            }
        });
        var ratio = Math.floor(5 / window.devicePixelRatio);
        $('.ProductReview').slick({
            slidesToShow: ratio,
            autoplay: true,
            autoplaySpeed: 1500,
            prevArrow: false,
            nextArrow: false
        }); 

    });


    
</script>