@{
    ViewData["Title"] = "Home Page";
}

<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="padding-bottom: 2rem;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-color:grey;height:200px;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:black;height:200px;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:white;height:200px;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <div class="row" id="listProduction"> </div>
    <div><button onclick="loadData()">load more</button></div>
</div>
<script>
    let productMax = 0;
    $(document).ready(function () {
        loadData();
    });
    function loadData() {
        $.ajax({
            url: "Home/listProduct",
            data: { "maxID": productMax, "numberCount":8 }
                , success: function (result) { 
                    if (result.length > 0) {
                        let _child = '';
                        for (let i = 0; i < result.length; i++) {
                        _child += "<div class='col-6 col-sm-3'><a href='chi-tiet-san-pham/" + result[i].urlCategory + "/" + result[i].urlProduct + "/" + result[i].id + "' ><div> <div style='background-color:gray;width:100%;min-height: 150px;position: relative;overflow: hidden;background-position: center center;' ></div> <div class='featured__item__text'> <h6><a href='#'> " + result[i].name + " </a></h6> <h5>" + result[i].price + " </h5> </div> </div></a></div>";
                        }
                        productMax = result[result.length - 1].id
                        $('#listProduction').append(_child);
                    } else {
                        alert("Không có sản phẩm được load!")
                    }
                
            }
        }); 
    } 
</script>