
@{
    ViewData["Title"] = "Giới Thiệu";
} 
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.02747234374493!2d106.73304758856972!3d10.70053985532259!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317525a06802641f%3A0xa32046d2f11bacae!2sThot%20not%20An%20Giang!5e0!3m2!1sen!2s!4v1706264055748!5m2!1sen!2s" style="border:0;height:60vh;width:100%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade;"></iframe>

<section class="mt-lg-14 mt-3">
    
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- col -->
            <div class="offset-lg-1 col-lg-10 col-12">
                <div class="row align-items-center mt-3">
                    <div class="col-md-6 ">
                        <!-- text -->
                        <div class="ms-xxl-14 me-xxl-15 mt-3 mt-md-0 text-left text-md-start">
                            <h1 class="mt-3">Bạn là một phần trong chúng tôi:</h1>
                            <p class="mt-0 lead">Bằng cách hỗ trợ bạn, và người thân của bạn trở nên tốt hơn với các dịch vụ tốt nhất, chúng tôi mong muốn mang đến cho bạn khả năng tiếp cận một cuộc sống tốt hơn, yêu thích và có thêm thời gian tận hưởng cuộc sống.</p>
                            <p class="mt-0 lead">
                                Ngoài việc làm đẹp cửa hàng trang nails còn cung cấp dịch vụ tư vấn và hướng dẫn về cách sử dụng sản phẩm, kỹ thuật làm móng, và các xu hướng mới nhất trong làm móng,
                                Với một không gian thoải mái và chuyên nghiệp, cửa hàng trang nails là địa điểm lý tưởng cho những người đam mê làm đẹp và muốn tạo ra những kiểu móng độc đáo và ấn tượng.
                            </p>
                        </div>
                    </div>
                    <!-- col -->
                    <div class="col-md-6 ">
                        <div class="me-6">
                            <!-- img -->
                            @* <img src="https://freshcart.codescandy.com/assets/images/about/about-img.jpg" alt="" class="img-fluid rounded"> *@
                            <img src="~/img/about/about-img.jpg" alt="" class="img-fluid rounded"  >
                        </div>
                    </div>
                </div>
                <!-- row -->
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="mt-3">
                            <!-- heading -->
                            <h2>Bạn đã sẵn sàng?</h2>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mt-3 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mt-4">
                                    <!-- img -->
                                    <img src="https://freshcart.codescandy.com/assets/images/about/about-icons-1.svg" alt="">
                                </div>
                                <h4>Giao hàng miễn phí tận nơi</h4>
                                <p>Chúng tôi có dịch vụ giao hàng tận nơi, bạn không cần phải làm gì cả chỉ cần tận hưởng cuộc sống.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mt-3 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mt-4">
                                    <!-- img -->
                                    <img src="https://freshcart.codescandy.com/assets/images/about/about-icons-2.svg" alt="">
                                </div>
                                <h4>Thanh toán tiện lợi tại cửa hàng</h4>
                                <p>Chúng tôi có dịch vụ thanh toán tiện lợi, online bằng Momo, Banking hình thức đa dạng, nhanh chóng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- card -->
                        <div class="card bg-light mt-3 border-0">
                            <!-- card body -->
                            <div class="card-body p-8">
                                <div class="mt-4">
                                    <!-- img -->
                                    <img src="https://freshcart.codescandy.com/assets/images/about/about-icons-3.svg" alt="">
                                </div>
                                <h4>Dịch vụ đa dạng, phong phú</h4>
                                <p>Chúng tôi cung cấp dịch vụ làm đẹp, món ăn ngon miệng và những điều tuyệt vời nhất đến bạn.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col mt-3">
                        <!-- text -->
                        <span>
                            Để được hỗ trợ trực tiếp vui hong liên hệ chúng tôi qua <span style="color:#2596be;font-weight:bold">ZALO</span>: <a href="https://zalo.me/0932108990">0932.108.990</a>
                            <a href="#">Help Center</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>

    $(document).ready(function () {
        document.getElementById("menu_4").style.fontWeight = "bold" 
    });
</script>