@model Store.Models.HomeModel;
@{
    ViewData["Title"] = "Cửa Hàng";
}
<input hidden id="CategoryID" value="@Model.CategoryID" />
<input hidden id="PageID" value="@Model.PageID" />
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="padding-bottom: 2vh;">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div style="background-color:grey;height:30vh;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:black;height:30vh;"></div>
        </div>
        <div class="carousel-item">
            <div style="background-color:#aaddcc;height:30vh;"></div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 
<div class="rounded" style="background: rgba(255, 255, 255, 0.8);position:sticky;top:4rem;z-index:100;">
    <div class="d-flex justify-content-start" id="listPage"> 
    </div>
</div> 
<div class="listmenu bd-content pt-2 rounded" id="ListMenu"></div>
<div class="row g-2" style="padding-top: 1vh;">
    <div class="col-12 col-md-4 col-lg-3" id="listCategory" style="border-radius:0.25rem">
    </div>
    <div class="col-12 col-md-8 col-lg-9">
        <div class="row g-2 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" id="listProduction"> </div> 
        <div><button type="button" class="btn btn-light" onclick="loadmore()" style="width: 100%;">load more</button></div>
    </div>
</div>


<script>
    let productMax = 0, check = 0;
    $(document).ready(function () { 
        document.getElementById("menu_1").style.fontWeight = "bold"
        $.ajax({
            url: "/Home/listPage",
            async: false
            , success: function (result) {
                if (result.length > 0) {
                    let _child = '';
                    for (let i = 0; i < result.length; i++) {
                        _child += "<button class='list-group-item rounded m-1' id='Page_" + result[i].ID + "' onclick='Page_Click(" + result[i].ID + ")'>" + result[i].Name + "</button>"
                    }
                    document.getElementById("listPage").innerHTML = _child; 
                    document.getElementById("Page_" + $('#PageID').val()).className += " active";
                } else {
                    alert("Không tìm thấy danh sách cửa hàng!")
                }
            }, error: function (err) { 
                console.log(err);
                alert("Lỗi load listPage!")
            }
        });
        Page_Click($('#PageID').val());
    });
    function ListMenu() {
        $.ajax({
            url: "/Product/ListMenu",
            data: { PageID: $('#PageID').val() },
            async: false
            , success: function (result) {
                if (result.length > 0) {
                    var _child = Template_ListMenu(result) 
                    document.getElementById("ListMenu").innerHTML = _child;
                } else {
                    alert("Không tìm thấy danh Menu!")
                }
            }, error: function (err) {
                console.log(err);
                alert("Lỗi load Menu!")
            }
        });
    }
    function Page_Click(PageID) {
        $.ajax({
            url: "/Home/listCategory",
            async: false,
            data: { PageID:PageID}
            , success: function (result) { 
                if (result.length > 0) {
                    $('#PageID').val(PageID)
                    $('#CategoryID').val(0)
                    let _child = '';
                    for (let i = 0; i < result.length; i++) { 
                        _child += "<button class='list-group-item d-flex list-group-item-action justify-content-between align-items-center' id='Category_" + result[i].ID + "' onclick='Category_Click(" + result[i].ID + ")'>" + result[i].Name + "<span class='badge badge-primary badge-pill' style='background-color: #007bff;'> " + result[i].ProductNumber + " </span></button>"
                    } 
                    document.getElementById("listCategory").innerHTML = _child; 
                    var items = document.getElementById("listPage").getElementsByClassName("list-group-item");
                    for (var i = 0; i < items.length; i++) {
                        items[i].classList.remove("active");
                    }
                    document.getElementById("Page_" + $('#PageID').val()).className += " active";
                } else {
                    alert("Không tìm thấy danh sách loại sản phẩm!");
                }
            }, error: function (err) {
                console.log(err);
                alert("Lỗi load listCategory!")
            }
        });
        listProduct();
        ListMenu();
    }
    function Category_Click(CategoryID) {
        $('#CategoryID').val(CategoryID)
        listProduct();
        if (check == 1) {
            var items = document.getElementById("listCategory").getElementsByClassName("list-group-item");
            for (var i = 0; i < items.length; i++) {
                items[i].classList.remove("active");
            }
            document.getElementById("Category_" + $('#CategoryID').val()).className += " active";
        }
    }
    function loadmore() {
        check = 0;
        $.ajax({
            url: "/Home/listProduct",
            async: false,
            data: { "maxID": productMax, "numberCount": 8, CategoryID: $('#CategoryID').val(), PageID: $('#PageID').val() }
            , success: function (result) {
                if (result.length > 0) { 
                    var _child = Template_ListProduct(result)
                    $('#listProduction').append(_child);
                    productMax = productMax + result[result.length - 1].ID
                    check = 1;
                } else {
                    alert("Không tìm thấy dánh sách sản phẩm!")
                    check = 0;
                }

            }, error: function (err) {
                console.log(err);
                alert("Lỗi load listProduct loadmore!")
            }
        });
    }
    function listProduct() {
        check = 0;
        $.ajax({
            url: "/Home/listProduct",
            async: false,
            data: { maxID: 0, numberCount: 8, CategoryID: $('#CategoryID').val(), PageID: $('#PageID').val() }
            , success: function (result) {
                if (result.length > 0) { 
                    var _child = Template_ListProduct(result) 
                    document.getElementById("listProduction").innerHTML = _child;
                    productMax = result[result.length - 1].ID
                    check = 1;
                } else {
                    alert("Không sản phẩm nào được tìm thấy!")
                    check = 0;
                }

            }, error: function (err) {
                console.log(err);
                alert("Lỗi load listProduct!")
            }
        });
    }
</script>

<style>
    .listmenu > ul {
        list-style: none;
        font-weight: bold; 
        background-color: antiquewhite;
        color: rgb(46, 22, 22);
    }

        .listmenu>ul>li>div>div>div{
            display: flex;
            justify-content: space-between;
            font-weight: 600;
            /* max-width: 240px; */
        }
</style>